<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exclusive Login</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        
       
        .footer {
            margin-top: 3rem;
            background-color: black;
            padding: 20px 0;
            text-align: center;
        }
        .footer a {
            color: white;
            text-decoration: none;
        }
        .footer input {
            width: 250px;
            padding: 8px;
        }
        .footer img {
            width: 100px;
        }
    </style>
</head>
<body>

    
    <footer style="justify-content: space-between;" class="footer text-white" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Exclusive</h5>
                    <p>Get 10% off your first order</p>
                    <input type="email" class="form-control" placeholder="Enter your email">
                </div>
                <div class="col-lg-3">
                    <h5>Support</h5>
                    <p>kerala, India</p>
                    <p>ednrrishad@gmail.com</p>
                    <p>+91 8075147355</p>
                </div>
                <div class="col-lg-3">
                    <h5>Quick Links</h5>
                    <p><a href="#">Privacy Policy</a></p>
                    <p><a href="#">Terms of Use</a></p>
                    <p><a href="#">FAQ</a></p>
                    <p><a href="#">Contact</a></p>
                </div>
                
            </div>
        </div>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>